
html,body {
    height:100%;
}

 #container {
  background: #222;
}

#main {
  background: #000;

}

#Menu1 {
    margin: auto;
}


#Menu7 {
    margin: auto;
}

li {
    text-align: left;
}
body { 
    margin: 0; 
    padding: 0; 
    background: #000;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif ;
    height: 100%;
    color: #999;
}

html {
  height: 100%;
}


.main_div
  {
  text-align:center;
  background: #00C492;
  padding:20px; width: 400px;
  }
.inner_div
  {
  background: #fff;
  margin-top:20px;
  height: 100px;
  }
.buttons a
  {
  font-size: 16px;
  }
.buttons a:hover
  {
  cursor:pointer;
  font-size: 16px;
  }

h1 {
    color: #000;
}

h2, h3 {
    color: #aaa;
}

#div_notsues {
    width: 200;
    color: #FFF;
    display: inline-block;
    text-align: left;

}

table {
    border-spacing: 3px;
    margin: 0 auto; 
}

.rowpadding {
    padding-top: 10px;
}

.cellpadding {
    padding-left: 50px;
}

.valigntop {
    vertical-align: top;
}

.yoffset {
    top: -50px;
}

.img-container { 
    position: relative; 
}

.top {
  position: absolute;
}

.nottop {
      top: 0;
  left: 0;

}
.y0 {
    clip: rect(0px,64px,64px,0px);
}

.y1 {
    clip: rect(64px,64px,128px,0px);
    top: -64px;
}

.y2 {
    clip: rect(128px,64px,192px,0px);
    top: -128px;
}

.y3 {
    clip: rect(192px,64px,256px,0px);
    top: -192px;
}

.y4 {
    clip: rect(256px,64px,320px,0px);
    top: -256px;
}

.y5 {
    clip: rect(320px,64px,384px,0px);
    top: -320px;
}

.y6 {
    clip: rect(384px,64px,448px,0px);
    top: -384px;
}

.y7 {
    clip: rect(448px,64px,512px,0px);
    top: -448px;
}

.y8 {
    clip: rect(512px,64px,576px,0px);
    top: -512px;
}

.y9 {
    clip: rect(576px,64px,640px,0px);
    top: -576px;
}

.y10 {
    clip: rect(640px,64px,704px,0px);
    top: -640px;
}

.y11 {
    clip: rect(704px,64px,768px,0px);
    top: -704px;
}

.y12 {
    clip: rect(768px,64px,832px,0px);
    top: -768px;
}

.y13 {
    clip: rect(832px,64px,896px,0px);
    top: -832px;
}

.z0 {
    z-index: 0;    
}

.z1 {
    z-index: 1;    
}
.totootot {
    clip: rect(0px,64px,64px,0px);
} 
.z2 {
    z-index: 2;
    position: absolute;
} 
.z3 {
    z-index: 3;
} 
.z4 {
    z-index: 4;
} 
.z5 {
    z-index: 5;
} 
.z6 {
    z-index: 6;
} 
.z7 {
    z-index: 7;
} 
.z8 {
    z-index: 8;
} 

#events {
    font-size: 40px;
}

#chat {
    text-align: center;
}
#death {
    text-align: center;
}

@media screen and (min-width: 0px) and (max-width: 660px) {
    #fork { display: none; }
}

@media screen and (min-width: 660px) {
  #fork { display: block; }
  #container {
    width: 100%;
    float: left;
    margin-right: -150px;
  }
  #main {
    margin-left: 150px;
  }
  #left {
    width: 150px;
    float: left;
    height: 100%;
  }
  #notyet {
    visibility: hidden;
  }
  #sidebar {
    width: 150px;
    float: right;
  }
  #content {
    margin-right: 150px;
    height: 100%;
  }
  #buttons {
    height: 20%;
    float: left;
    padding-top: 40px;
  }
  .button {
    padding-top: 20px;
  }

}

@media only screen and (min-width: 630px) {
  /* only for screens wider or equal to 630 pixels */
  /* code from http://www.thesitewizard.com/css/design-2-column-layout.shtml */
  #container {
    width: 100%;
  }
  #main {
  }
  #left {
    width: 150px;
    height: 50px;
  }
  #sidebar {
    width: 200px;
  }
  #button {
    float: left;
  }
  #news {
    padding-left: 300px;
    padding-right: 300px;
  }

  #new_game {
    padding-left: 300px;
    padding-right: 300px;
  }

}

#innercontent {
  padding-left: 10px;
  padding-right: 10px ;

}
#innernavbar {
  padding-left: 5px ;
  padding-right: 5px ;
  
}
#header {
    border: 1px solid #cecea5;
    background: #d7dabd;
}
#outer_wrapper {
    
}
#wrapper {
    
}

#unsnnsas {
    background: url(background_2.gif) repeat-y right;

}
#unusued {
    background: url(background_3.gif) repeat-y left;

}
#footer {
    border: 1px solid #cecea5;
    background: #d7dabd;
}
h1 {
    margin-top: 0;
}
.last {
    margin-bottom: 0;
}
.clearing {
    height: 0;
    clear: both;
}
